<form class="webm-settings-form" autocomplete="off">
  <header class="form-header">分类设置（最多 8 个）</header>

  <section class="form-body">
    {{#each categories as |cat|}}
      <div class="cat-row" data-key="{{cat.key}}">
        <div class="row-title">分类 {{cat.index}}</div>
        <div class="row-fields">
          <label>名称</label>
          <input type="text" name="{{cat.key}}-name" value="{{cat.name}}" placeholder="分类名称">

          <label>来源</label>
          <select name="{{cat.key}}-source">
            <option value="data" {{#if (eq cat.source "data")}}selected{{/if}}>data</option>
            <option value="s3" {{#if (eq cat.source "s3")}}selected{{/if}}>s3</option>
          </select>

          <label>文件夹</label>
          <input type="text" name="{{cat.key}}-folder" value="{{cat.folder}}" placeholder="例如：modules/xxx/packs 或 user-data/webm">
          <button type="button" class="browse" data-key="{{cat.key}}" title="选择文件夹"><i class="fas fa-folder-open"></i></button>
          <button type="button" class="upload" data-key="{{cat.key}}" title="上传 .webm"><i class="fas fa-upload"></i> 上传 .webm</button>
        </div>
      </div>
    {{/each}}
  </section>

  <footer class="form-footer">
    <button type="submit" class="save"><i class="fas fa-save"></i> 保存</button>
  </footer>
</form>